PORT=10000

MONGODB_URI=your_mongodb_connection_string

PESAPAL_CONSUMER_KEY=Kk24YsWRnALydQkHCO3hn1mGPv2GM0cr
PESAPAL_CONSUMER_SECRET=7IV9WKIDliPCp8Dhgn2+WECGSyE=
CALLBACK_URL=https://traderscheem-backend-9p9o.onrender.com/callback
