PORT=10000

MONGODB_URI=your_mongodb_connection_string

CONSUMER_KEY=your_consumer_key
CONSUMER_SECRET=your_consumer_secret
PASSKEY=your_passkey
SHORTCODE=174379
CALLBACK_URL=https://traderscheem-backend-9p9o.onrender.com/callback
