PORT=10000

# 1. PostgreSQL Database URL (Replace with your actual Postgres string)
DATABASE_URL=postgres://username:password@hostname:5432/databasename

# 2. Pesapal V3 Credentials
PESAPAL_CONSUMER_KEY=Kk24YsWRnALydQkHCO3hn1mGPv2GM0cr
PESAPAL_CONSUMER_SECRET=7IV9WKIDliPCp8Dhgn2+WECGSyE=
PESAPAL_NOTIFICATION_ID=your_pesapal_ipn_id_here

# 3. Callback URL
CALLBACK_URL=https://traderscheem-backend-9p9o.onrender.com/callback
